mkdocs<2.0.0
mkdocs-api-autonav
mkdocs-autorefs
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-material
mkdocs-minify-plugin
mkdocstrings-python
mdx-truly-sane-lists
pymdown-extensions
